                <!-- content -->
                <div class="content">
                    <!--bottom-filter-wrap-->
                    <div class="bottom-filter-wrap hor-filter-wrap">
                        <div class="scroll-down-wrap">
                            <div class="mousey">
                                <div class="scroller"></div>
                            </div>
                            <span>Scroll down to discover</span>
                        </div>
                        <div class="filter-title">Filters <i class="fal fa-long-arrow-right"></i></div>
                        <div class="gallery-filters">
                            <a href="#" class="gallery-filter  gallery-filter-active" data-filter="*">All resolutions</a>
                            <a href="#" class="gallery-filter" data-filter=".standard">Standard</a>
                            <a href="#" class="gallery-filter" data-filter=".ultra_wide">Ultra-wide</a>
                        </div>
                        <div class="count-folio round-counter">
                            <div class="num-album"></div>
                            <div class="all-album"></div>
                        </div>
                    </div>
                    <!--bottom-filter-wrap end-->
                    <div class="ff_panel-conainer fl-wrap">
                        <!-- portfolio start -->
                        <div id="screenshots_portfolio" class="gallery-items min-pad   four-column fl-wrap lightgallery">
                            <%= render @screenshots %>
                        </div>
                        <div id="infinite-scrolling">
                          <%= will_paginate @screenshots %>
                        </div>
                        <!-- portfolio end -->
                    </div>
                </div>
                <!--content end-->
