                            <!-- gallery-item-->
                            <div class="gallery-item <%= screenshot.aspect_ratio %>">
                                <div class="grid-item-holder hov_zoom">
                                    <%= image_tag(screenshot.image.big_thumb.url, alt: screenshot.title) %>
                                    <div class="thumb-info">
                                        <h3><%= link_to screenshot.title, game_screenshot_path(game_id: screenshot.game, id: screenshot), title: screenshot.title %></h3>
                                        <p><%= screenshot.game.name %></p>
                                    </div>
                                </div>
                            </div>
                            <!-- gallery-item end-->